@tailwind base;
@tailwind components;
@tailwind utilities;

$text-dark: #0e1a20;
$background-light: #f7f7f7;

/* shadow host */
:host {
  all: initial;

  width: 85vw;
  height: 85vh;
  min-height: 15rem;
  min-width: 20rem;
  border-radius: 1rem;

  overflow: hidden;
  resize: both;

  box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.6);
  container: root / size;
}

#unity-root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;

  // color-scheme: light dark;
  color: $text-dark;
  background-color: #7e7e7e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
